@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --main-font: 'Hanken Grotesk';
}

body {
    font-family: var(--main-font);
}

.result {
    color: white;
    opacity: 0.5;
    font-size: 0.625rem;
    margin: 15px;
}
.header-container{
    background-image: linear-gradient(to bottom, #7857ff, #694cf9, #5941f4, #4536ee, #2b2be9);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.roundedscore{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #4e21ca, #4621ca, #3d21ca, #3221ca50, #2421ca00);
    height: 170px;
    width: 170px;
    padding: 30px;
    border-radius: 50%;
}
.scorenumber{
    font-weight: 800;
    font-size: 3.75rem;
}
.outof{
    font-weight: 700;
    opacity: 0.5;
    margin: 10px 0px 0px 0px;
}
.great{
    color: white;
    margin: 18px 0px 0px 0px;
}
.youscored{
    color: white;
    width: 65%;
    opacity: 0.8;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 15px;
}

ul{
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

.summary h2{
    margin-bottom: 20px;    
}
.summary {
    margin: 20px 40px;
}

.reaction-item, .memory-item, .verbal-item, .visual-item{
    display: flex;
    justify-content: space-between;
}

.item-container{
    display: flex;
}

.item-container img{
    padding-right: 12px;
}

.reaction-name{
    color: hsla(0, 100%, 67%);
}

.reaction-item p{
    font-weight: 800;
}

.reaction-item span{
    color: grey;
}

.memory-item span{
    color: grey;
}

.verbal-item p{
    font-weight: 800;
}
.verbal-item span{
    color: grey;
}

.visual-item p{
    font-weight: 800;
}
.visual-item span{
    color: grey;
}

.memory-item p{
    font-weight: 800;
}

.reaction-item {
    background-color: hsla(0, 100%, 67%, 0.1);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.memory-item {
    background-color: hsla(39, 100%, 56%, 0.1);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.memory-name {
    color: hsla(39, 100%, 56%);
}

.verbal-item {
    background-color: hsla(166, 100%, 37%, 0.1);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.verbal-name {
    color: hsla(166, 100%, 37%);
}


.visual-item {
    background-color: hsla(234, 85%, 45%, 0.1);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.visual-name {
    color: hsla(234, 85%, 45%);
}

.continuebutton{
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    border-style: none;
    border-radius: 60px;
    color: white;
    font-weight: 700;
    background-color: hsl(224, 30%, 27%);
}


/* Responsive after Mobile First */

@media only screen and (min-width: 1440px ) {
    body {
        display: flex;
        justify-content: center;
    }

    .side-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: red;
    }

    /* Left-side container */

    .header-container{
        border-radius: 30px;
        width: 350px;
    }

    .result {
        margin: 30px;
        opacity: 0.8;
        font-size: 0.70rem;
    }

    .youscored {
        text-align: center;
        width: 65%;
    }

    .great {
        margin-top: 25px;
        font-size: 2rem;
    }

    .continuebutton {
        width: 100%;
    }

    /* Right-side Container. */

    ul {
        margin-top: 20px;
    }

    .summary h2{
        margin-bottom: 5px;
    }
    .summary {
        margin: -20px;
        padding: 30px;
    }

    .item-container {
        margin-right: 80px;
    }


}